@page "/services/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]


<h3>Crear Servicio</h3>


<ServiceForm @ref="serviceForm" Service="service" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Service service = new();
    private ServiceForm serviceForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/services", service);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        serviceForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/services");        
    }
    private void Return()
    {
        serviceForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/services");
    }
  
}
