@page "/clients/edit/{Id:int}"
@using CarWashing.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Cliente</h3>

@if (client is null)
{
    <div class="align-items-center">
        <img src=" https://media.tenor.com/oGoY4h0pGYUAAAAj/updatess.gif " />
    </div>
}
else
{
    <ClientForm @ref="clientForm" Client="client" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Client client;
    private ClientForm clientForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Client>($"api/clients/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("clients");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            client = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("api/clients", client);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            clientForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("clients");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("clients");
    }
}
