@page "/vehicles/edit/{Id:int}"
@using CarWashing.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar vehiculo</h3>

@if (vehicle is null)
{
    <div class="align-items-center">
        <img src=" https://media.tenor.com/oGoY4h0pGYUAAAAj/updatess.gif " />
    </div>
}
else
{
    <VehicleForm @ref="vehicleForm" Vehicle="vehicle" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Vehicle vehicle;
    private VehicleForm vehicleForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Vehicle>($"api/vehicles/{Id}");
        
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("vehicles");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            vehicle = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/vehicles", vehicle);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            vehicleForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("vehicles");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("vehicles");
    }
}
